.header {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 40px;

}

.menu_navegacion {
    color:white;
    font-weight: bold;
    background-color: green;
}

.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px;
    margin: 3px; 

    h5 {
        font-weight: 700;
    }
}
.frame img {
	width: 270px;
	height: 400px;
}
.frame .details {
	width: 80%;
	height: 70%;	
	padding: 10%;
	position: absolute;
	content: "";
	top: 50%;
	left: 67%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(71, 184, 86, 0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
	color: rgba(5, 5, 5, 0.9);
}

.btns_index {
	display: inline-block;
	border: 2px;
	border-radius: 12px;
	color:rgb(5, 5, 5);
	text-decoration: none;
	background-color: rgba($color: #189929, $alpha: 0.7);
	padding: 10px;
	text-align: center;
	font-size: 16px;
	margin: auto;
	margin-top: 25px;
	width: 150px;
}

.inicio_triptico {
	display: inline-block;
}

/*---------MODAL----------*/
.cargarNModal {
	height: 100vh;
	width: 220vh;
	background-color: rgba(16, 148, 67, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	text-align: center;
	opacity: 0;
}

.modalVisible {
	visibility: visible;
	opacity: 1;
}

.modalEspaVerde {
	background-color: white;
	width: 1000px;
	height: 500px;
	border-radius: 12px;
	text-align: center;
	padding: 25px;
}

.borde-rojo {
	border: solid red 2px;
}

.borde-verde {
	border: solid green 2px;
}

.centerModal {
	text-align: center;
}

.etiquetasForm {
	text-align: left;
}

.box {
	width: 350px;
	height: 40px;
	margin-bottom: 15px;
}

.instalaciones {
	border: solid rgba(3, 104, 3, 0.7) 3px;
	margin-bottom: 20px;
	padding: 20px;
	display: inline-block;
}

.btnForm {
	justify-content: center;

	input {
		width: 100px;
		margin: 15px;
	}
}

/*---------PARQUES----------*/
.parques__cards--margin {
    padding: 10px;
    margin: 15px;
}

#nuevoEspacio {
	justify-content: center;
}

//---PRUEBAS
.visible {
	background-color: rgb(92, 25, 25);
	width: 300px;
	height: 150px;
	border-radius: 12px;
	text-align: center;
	color: white;
	padding: 15px;
	position: fixed;
	z-index: 3;
	display: block;
	border: solid rgb(117, 117, 117) 2px;
}

.errorAlert {
	display: none;
}