.header {
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 40px;

}

.menu_navegacion {
    color:white;
    font-weight: bold;
    background-color: green;
}

.frame {
	text-align: center;	
	position: relative;
	cursor: pointer;	
	perspective: 500px;
    margin: 3px; 

    h5 {
        font-weight: 700;
    }
}
.frame img {
	width: 270px;
	height: 400px;
}
.frame .details {
	width: 80%;
	height: 70%;	
	padding: 10%;
	position: absolute;
	content: "";
	top: 50%;
	left: 67%;
	transform: translate(-50%, -50%) rotateY(90deg);
	transform-origin: 50%;
	background: rgba(71, 184, 86, 0.9);	
	opacity: 0;
	transition: all 0.4s ease-in;
	
}
.frame:hover .details {
	transform: translate(-50%, -50%) rotateY(0deg);
	opacity: 1;
	color: rgba(5, 5, 5, 0.9);
}

.cargarNuevoEspacioNone {
	display: none;
}

.cargarNuevoEspacioInline {
	display: inline-block;
	border: 2px;
	border-radius: 12px;
	color:white;
	text-decoration: none;
	background-color: rgba($color: #52c4b1, $alpha: 0.6);
	padding: 15px;
	text-align: center;
	font-size: 16px;
	margin: auto;
}

.inicio_triptico {
	display: inline-block;
}

/*---------PARQUES----------*/
.parques__cards--margin {
    padding: 10px;
    margin: 15px;
}